// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Icofont CSS
@import './icofont';
// Slicknav CSS
@import './slicknav.min';
// Owl carousel CSS
@import './owl.carousel';
// Popup CSS
@import './magnific-popup';
// Vega CSS
@import './vegas.min';
// Main style CSS
@import './style';
// Responsive CSS
@import './responsive';
// Custom
@import './custom';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
