.title {
    margin-bottom: 30px;
}

.filtrar, .update_user {
    cursor: pointer;
}

input[type=text], input[type=number], input[type=email], input[type=date], input[type=url], input[type=tel], input[type=search], input[type=password], textarea {
    margin-bottom: 10px;
}

.choose-content {
    font-size: 13px;
}

.clickable {
    cursor: pointer;
}