/*
Theme Name: Xarkasin
Author: Aklima Akter
Version: 1.0
Description: Car Dealer Template
*/

/**
 *** CSS Indexing ***
 * THEME DEFAULT CSS
 * RESET CSS
 * HEADER TOP AREA CSS
 * HEADER BOTTOM AREA CSS
 * MENU AREA CSS
 * HERO AREA CSS
 * SERVICE AREA CSS
 * SERVICE BOTTOM AREA CSS
 * ABOUT AREA CSS
 * PORTFOLIO AREA CSS
 * TEAM AREA CSS
 * OUR TESTIMONIAL AREA CSS
 * PRICING AREA CSS
 * GET CALL BACK AREA CSS
 * SUCCESS AREA CSS
 * CTA AREA CSS
 * BLOG AREA CSS
 * MAP AND FOOTER AREA CSS
 * SCROLL-TO-TOP AREA CSS
 * PRELOADER CSS
 * HOME 2 DEFAULT CSS
 * VIDEO AREA CSS
 * COUNTER AREA CSS
 * TESTIMONIAL AREA CSS
 * PARTNER AREA CSS
 * HOME 3 DEFAULT CSS
 * ABOUT AREA CSS
 * ABOUT 1 PAGE CSS
 * ABOUT 2 PAGE CSS
 * BLOG PAGE CSS
 * BLOG DETAILS PAGE CSS
 * CAREER PAGE CSS
 * CONTACT PAGE CSS
 * LOGIN PAGE CSS
 * REGISTRATION PAGE CSS
 * 404 PAGE CSS
**/

/*----------------------------------
--------- THEME DEFAULT CSS --------
----------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700');
body {
    line-height: 25px;
    font-size: 14px;
    color: #666666;
	font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

/*----------------------------
---------- RESET CSS ---------
----------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
	color: #333333;
	font-family: 'Poppins', sans-serif;
    margin: 0px;
    letter-spacing: 1px;
}
p {
    margin: 0px;
}
h1 {
    font-size: 60px;
	font-weight: 700;
}
h2 {
    font-size: 30px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
a {
    transition: 0.4s;
}
a,
a:hover {
    color: #666666;
}
img {
    max-width: 100%;
    height: auto;
}
iframe {
    width: 100%;
    border: none;
}
a,
a:hover,
a:focus,
a:active,
button:focus {
    text-decoration: none;
    border: none;
    outline: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ol {
    margin-bottom: 0;
}
select:focus,
select:active {
    box-shadow: none;
    border: 0;
    outline: 0
}
input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="password"],
textarea {
    background: transparent;
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
	color: #666;
}
.contact-form textarea ,
.contact-form input ,
.contact-form textarea::-webkit-input-placeholder ,
.contact-form input::-webkit-input-placeholder {
	color: #fff;
}
.navbar-form input::-webkit-input-placeholder {
    color: #666;
}
textarea:focus {
    outline: none !important;
    box-shadow: none !important;
}
.sec-title {
    text-align: center;
    max-width: 600px;
    margin: auto;
}
.sec-title h2 {
    margin-bottom: 10px;
    position: relative;
    text-transform: capitalize; 
}
.sec-title h2 span {
	color: #d01818;
}
.pt-100 {
    padding: 100px 0 0;
}
.ptb-100 {
    padding: 100px 0;
}
.mb-20 {
	margin-bottom: 20px;
}
.mb-50 {
	margin-bottom: 50px;
}
.owl-nav div {
	position: absolute;
    top: 50%;
    left: 0;
    width: 35px;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 22px;
    border-radius: 8px;
    transition: 0.4s;
    margin-top: -20px;
}
.owl-nav div:hover {
	background: #082a46;
}
.owl-nav div.owl-next {
    right: 0;
    left: auto;
}
.owl-dots {
    text-align: center;
    margin-top: 40px;
}
.owl-dot {
    width: 20px;
    height: 3px;
    background: #fff;
    display: inline-block;
    margin: 0 3px;
}
.owl-dot.active {
    background: #d01818;
}
.theme-btn {
    background-color: #d01818;
    border-radius: 3px;
	text-transform: uppercase;
    color: #fff;
    display: inline-block;
    font-weight: 500;
	font-size: 20px;
    padding: 14px 30px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.theme-btn:hover {
    background: #ffffff;
	color: #333333;
}
.flexbox-center {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.theme-btn2 {
	padding: 5px 25px;
	font-size: 14px;
}
.theme-btn3 {
	background: #ffb400;
}
.theme-btn5 {
	padding: 5px 25px;
	font-size: 14px;
	background: #fff;
	color: #333;
}
.theme-btn4 {
	background: #ffb400;
	padding: 5px 25px;
	font-size: 14px;
}
.theme-btn5:hover,
.theme-btn4:hover {
	background: #000;
	color: #fff;
}
.theme-btn6 {
	padding: 5px 25px;
	font-size: 14px;
}
.theme-btn6:hover {
    background: #000;
	color: #fff;
}
.display-table {
    display: table;
    height: 100%;
    width: 100%;
}
.display-tablecell {
    display: table-cell;
    vertical-align: middle;
}
.mt-50 {
	margin-top: 50px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30 {
	margin-top: 30px;
}
.pt-70 {
	padding-top: 70px;
}
.pb-100 {
	padding-bottom: 100px;
}

/*--------------------------------------
-------- HEADER TOP AREA CSS START --------
---------------------------------------*/
.header-top-content li {
    display: inline-block;
    padding-right: 15px;
}
.login-reg ul li:last-child{
    padding-right: 0;
}
.header-top { 
    padding: 15px 0;
}

.header-top-content a {
    color: #fff;
}
.header-top-content li i {
    color: #d01818;
    font-size: 17px;
    margin-right: 5px;
}
.header-top-content .social-icons,.header-top-content > ul {
    display: inline-block;
}

.header-top-content .social-icons {
    margin-right: 40px;
}

.social-icons a {
    margin: 0 1px;
}

.header-top-content a:hover {
    color: #d01818;
}
.header-top-content select {
    border: none;
    background: transparent;
    color: #fff;
}

.header-top-content select option {
    color: #666;
}
/*--------------------------------------
--------- HEADER TOP AREA CSS END ---------
---------------------------------------*/

/*--------------------------------------
------ HEADER BOTTOM AREA CSS START ------
---------------------------------------*/
.header-bottom {
    padding: 15px 0;
}

.header-info-item {
    display: flex;
    text-align: left;
    margin-right: 100px;
}

.info-icon i {
    color: #d01818;
    font-size: 40px;
}
.info-icon {
    float: left;
    width: 50px;
    margin-right: 10px;
}

.info-text {
    overflow: hidden;
}
.header-bottom li {
    display: inline-block;
    margin-right: 25px;
    position: relative;
}
.header-bottom ul li:last-child{
    margin-right: 0;
}
.header-bottom li a {
    color: #fff;
	padding: 12px 0;
	text-transform: uppercase;
    display: inline-block;
}
.header-bottom li ul {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 99;
    background: #000;
    width: 200px;
    padding: 5px 25px;
	
	text-align: left;
    transition: 0.4s;
    transform: scale(0);
}
.header-bottom li ul li {
    display: block;
}
.header-bottom li ul li a {
    padding: 5px 0;
    color: #fff;
    font-size: 90%;
}
.mainmenu li:hover ul {
    transform: scale(1);
}
.header-bottom li.active > a,
.header-bottom li a:hover {
    color: #d01818;
}
.responsive-menu {
    display: none;
}
.slicknav_nav {
    background-color: #222222;
    padding: 5px 12px;
}
.slicknav_nav li {
    display: block;
}
.slicknav_nav li a i {
	display: none;
}
.slicknav_nav a:hover, .slicknav_nav .slicknav_row:hover {
    background: transparent;
    color: #fff;
}
.header-bottom ul li a a::before {
    display: none;
}
a.slicknav_item.slicknav_row {
    display: inline-block;
}
.slicknav_btn {
    margin: 0;
    border-radius: 0;
}
.slicknav_menu {
	padding: 15px 0;
    background: transparent;
}
.menu-area {
    background: #082a46;
    margin: 0;
}
.header-bottom-right {
    margin-right: -15px;
}
.header-bottom {
    position: relative;
    z-index: 999;
}
.header-bottom.sticky {
    background: #000;
	border-bottom: 1px solid #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 5px 0;
}
.mainmenu {
	text-align: right;
}
/*--------------------------------------
------ HEADER BOTTOM AREA CSS END ------
---------------------------------------*/

/*--------------------------------------
-------- HERO AREA CSS START --------
---------------------------------------*/
.top-area {
    z-index: 1;
    position: relative;
    color: #fff;
}
.head-top-area {
    z-index: 5;
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
}
.breadcrumb-area::before,
.top-area::before {
	content: "";
	top: 0;
	left: 0;
    opacity: 0.75;
	right: 0;
	bottom: 0;
	z-index: -1;
	position: absolute;
	background: #000000;
}
.hero-area-content {
    text-align: center;
	padding: 220px 0 110px;
}
.vegas-timer-progress {
    background-color: #d01818;
}
.home2 .vegas-timer-progress {
    background-color: #ffb400;
}
.hero-area-content ,
.hero-area-content a ,
.hero-area-content h2 ,
.hero-area-content h1 {
    color: #fff;
}
.hero-area-content h2 {
    margin: 15px 0 40px;
	font-weight: 400;
}
ul.nav.nav-tabs {
    border: none;
    margin-left: 65px;
	margin-top: 45px;
    margin-right: 65px;
}
.nav-tabs li {
    background: transparent;
    font-weight: 500;
}
.nav-tabs li a {
    color: #fff;
    display: inline-block;
    border: 1px solid #fff;
    padding: 8px 30px;
	background: rgba(0,0,0,0.3);
    text-transform: uppercase;
}
.nav-tabs li a:hover, .nav-tabs li a.active {
    background: #fff;
    color: #333;
}
.tab-content {
    padding: 55px 55px 30px;
    border: 1px solid #ddd;
	text-align: left;
    border-radius: 3px; 
	background: rgba(0,0,0,0.3);
}
.tab-content p {
	margin-bottom: 25px;
}
.tab-content .theme-btn {
	width: 100%;
	text-align: center;
}
select {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 3px;
    margin-bottom: 25px;
}
/*------------------------------------
--------- HERO AREA CSS END ---------
------------------------------------*/

/*-----------------------------------
-------- ABOUT AREA CSS START --------
-------------------------------------*/
.single-about {
    text-align: center; 
    padding: 30px;
    box-shadow: 0 0 5px #ddd;
    transition: all 0.4s;
}

.single-about i {
    background: #fff;
    color: #d01818;
    border-radius: 100%;
    font-size: 30px;
    line-height: 60px;
    width: 60px;
    box-shadow: 0px 1px 2px 0px #aaa;
    height: 60px;
    display: block;
    margin: 0 auto 20px;
}

.single-about p {
    margin: 15px 0;
}

.single-about a {
    font-size: 12px;
    line-height: 30px;
    padding: 0 20px;
}

.single-about:hover {
    background: #d01818;
    color: #fff;
}

.single-about:hover a {
    background: #fff;
    color: #333;
}

.single-about:hover h4 {
    color: #fff;
}

.single-about h4 {
	text-transform: uppercase;
    transition: 0.4s;
}
/*-----------------------------------
--------- ABOUT AREA CSS END ---------
------------------------------------*/

/*--------------------------------------
----- ABOUT BOTTOM AREA CSS START ------
---------------------------------------*/
.about-bottom {
	z-index: 0;
    position: relative;
    background-image: url(../img/about-bottom.jpg);
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	overflow: hidden;
}
.about-bottom::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 80%;
    background: #d01818;
    opacity: .75;
    top: 0;
    right: -20%;
    transform: skewX(-30deg);
}
.about-bottom-box {
    text-align: right;
    color: #fff;
}

.about-bottom-box .sec-title {
    text-align: right; 
}

.about-bottom-box h4, .about-bottom-box h2 {
    color: #fff;
}

.about-bottom-box ul li {
    display: flex; 
    padding-bottom: 30px;
}
.about-bottom-box ul li:last-child {
    padding-bottom: 0;
}
.about-bottom-box ul li .about-icon i {
    width: 45px;
    height: 45px;
    background: #fff;
    color: #d01818;
    border-radius: 100%;
    display: block;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    margin-left: 15px;
}

.about-bottom-box ul li h4 {
    margin-bottom: 8px;
}
/*--------------------------------------
------ ABOUT BOTTOM AREA CSS END -------
---------------------------------------*/

/*--------------------------------------
-------- FEATURE AREA CSS START --------
---------------------------------------*/
.feature-area .theme-btn2:hover {
	background: #000;
	color: #fff;
}
.feature-area ul.nav.nav-tabs {
    margin: 0px 0 30px;
    overflow: hidden;
}
.feature-area ul.nav.nav-tabs li {
    width: 33.33%;
    float: left;
}
.feature-area .tab-content {
    padding: 0;
    border: none;
    background: transparent;
}
.feature-area .tab-content p {
    margin-bottom: 0;
}
.feature-area .nav-tabs li a {
    padding: 10px 20px;
    float: left;
    width: 100%;
    background: transparent;
    border: 1px solid #666;
    cursor: pointer;
    transition: 0.4s;
    color: #333;
    text-align: center;
}
.feature-area .nav-tabs li a.active {
    background: #d01818;
    color: #fff;
    border: 1px solid #d01818;
}
.feature-image {
    position: relative;
}

.feature-image img {
    display: block;
}

.single-feature {
    margin-bottom: 30px;
    background: #fff;
    box-shadow: 0 0 2px #ccc;
}

.feature-overlay {
    background: rgba(0,0,0,0.5);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: 0.4s;
}

.feature-overlay a {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 40px;
}

.feature-overlay a:hover {
    background: #fff;
    color: #d01818;
}

.feature-middle {
    border: 1px solid #bbb;
    padding: 8px 15px;
    overflow: hidden;
}

.feature-middle a {
    width: 33.33%;
    float: left;
    font-size: 12px;
}

.feature-middle a i {
    margin-right: 5px;
    font-size: 16px;
    color: #d01818;
}

.feature-bottom {
	padding: 15px;
    border: 1px solid #bbb;
	border-top: none;
}
.feature-bottom h4 {
    margin-bottom: 6px;
}

.single-feature:hover .feature-overlay {
    opacity: 1;
}
/*--------------------------------------
--------- FEATURE AREA CSS END ---------
---------------------------------------*/

/*--------------------------------------
-------- FUNFACT AREA CSS START --------
---------------------------------------*/
.funfact-area {
	z-index: 0;
    position: relative;
    background-image: url(../img/funfact-bg.png);
    background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center;
    background-size: cover;
	overflow: hidden;
    color: #fff;
}
.funfact-area::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 80%;
    background: #d01818;
    opacity: .75;
    top: 0;
    left: -20%;
    transform: skewX(30deg);
}
.single-funfact .sec-title {
    margin-bottom: 20px;
    text-align: left;
}

.funfact-box,
.single-funfact h2, .funfact-box h1,.funfact-box h4 {
    color: #fff;
}

.funfact-box h1 {
    font-size: 36px;
    margin-top: 15px;
    font-weight: 600;
}

.funfact-box h1 i {
    margin-right: 5px;
}

.funfact-box {
    border: 1px solid #fff;
    padding: 30px;
    margin-top: 30px;
}
/*--------------------------------------
--------- FUNFACT AREA CSS END ---------
---------------------------------------*/

/*-----------------------------------
-------- TEAM AREA CSS START --------
------------------------------------*/
.single-team {
    display: flex;
    margin-top: 30px;
}

.team-image {
    flex: 1;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.team-content {
    flex: 1;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left:0;
    text-align: center;
    padding: 25px;
    transition: 0.4s;
}

.team-shape {
    width: 105px;
    height: 2px;
    background: #d01818;
    margin: 0 auto 20px;
    position: relative;
    transition: 0.4s;
}

.team-content p {
    padding-bottom: 5px;
}

.team-shape::before {
    content: "";
    position: absolute;
    width: 61px;
    height: 2px;
    background: #d01818;
    margin: auto;
    top: 5px;
    left: 0;
    right: 0;
    transition: 0.4s;
}

.team-content a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #d01818;
    display: inline-block;
    margin: 0 1px;
    color: #d01818;
    border-radius: 100%;
    margin-top: 12px;
}

.single-team:hover .team-content {
    background: #d01818;
    color: #fff;
}

.single-team:hover .team-content h4 {
    color: #fff;
}

.single-team:hover .team-content a {
    border-color: #fff;
    color: #fff;
}

.single-team:hover .team-shape,.single-team:hover .team-shape::before {
    background: #fff;
}

.team-content h4 {
    transition: 0.4s;
	text-transform: uppercase;
	margin-bottom: 2px;
}
.team-image-bg-1 {
	background-image: url('../img/team/team1.png');
}
.team-image-bg-2 {
	background-image: url('../img/team/team2.png');
}
.team-image-bg-3 {
	background-image: url('../img/team/team3.png');
}
.team-image-bg-4 {
	background-image: url('../img/team/team4.png');
}
/*-----------------------------------
--------- TEAM AREA CSS END ---------
------------------------------------*/

/*--------------------------------------
------ TESTIMONIAL AREA CSS START ------
---------------------------------------*/
.testimonial-area {
    background: url(../img/testimonial-bg.jpg) no-repeat center center / cover;
    position: relative;
    z-index: 0;
	color: #fff;
}
.testimonial-area h4 ,
.testimonial-area h2 {
	color: #fff;
}
.testimonial-area::before {
    background: #000;
    opacity: 0.75;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.testimonial-slider.owl-carousel .owl-item img {
    width: auto;
    margin: auto;
    margin-bottom: 15px;
}

.single-testimonial-box {
    border: 1px solid #fff;
    margin-bottom: 1px;
    padding: 30px 20px;
    text-align: center;
}

.single-testimonial-box p:last-child {
    margin-top: 12px;
}
/*--------------------------------------
------- TESTIMONIAL AREA CSS END -------
---------------------------------------*/

/*--------------------------------------
-------- CHOOSE AREA CSS START --------
---------------------------------------*/
.choose-menu button {
    width: 16.66%;
    float: left;
    background: transparent;
    border: 1px solid #bbb;
    padding: 8px;
    cursor: pointer;
}
.choose-menu {
    margin-bottom: 10px;
    overflow: hidden;
}
.choose-menu button.active {
    background: #d01818;
    color: #fff;
    border: 1px solid #d01818;
}
.single-choose .feature-overlay a {
    background: #fff;
    color: #d01818;
}

.single-choose:hover .feature-overlay {
    opacity: 1;
}

.single-choose {
    margin-top: 30px;
    border: 1px solid #ddd;
}
.choose-content h4 {
    font-size: 14px;
    margin-bottom: 20px;
}

.choose-content h4 span {
    float: right;
    color: #666;
}
.choose-content {
    padding: 15px 18px;
}

.choose-content i {
    color: #d01818;
    font-size: 18px;
}

.choose-content a {
    padding: 0 10px;
    text-align: center;
    display: inline-block;
}
/*--------------------------------------
--------- CHOOSE AREA CSS END ---------
---------------------------------------*/

/*--------------------------------------
-------- ARTICLE AREA CSS START --------
---------------------------------------*/
.article-area {
    background: url(../img/testimonial-bg.jpg) no-repeat center center / cover;
    position: relative;
    z-index: 0;
	color: #fff;
}
.article-area a ,
.article-area h2 {
	color: #fff;
}
.article-area::before {
    background: #000;
    opacity: 0.75;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.article-box { 
    transition: 0.4s;
}

.article-box ul li {
    display: inline-block;
    margin-right: 11px;
}

.article-box i {
    color: #d01818;
    margin-right: 2px;
}

.article-box ul li:last-child {
    margin: 0;
}

.article-box p {
    border-left: 1px solid #fff;
    padding-left: 10px;
    margin: 15px 0;
}

.article-box > a {
    border-bottom: 1px solid #fff;
}

.article-box ul {
    margin-top: 15px;
}

.article-box:hover {
    color: #d01818;
}

.article-box:hover p {
    border-color: #d01818;
}
.partner-slide {
    border-top: 1px solid #fff;
    padding-top: 80px;
    margin-top: 50px;
}
#map {
	height: 400px;
}
/*--------------------------------------
--------- ARTICLE AREA CSS END ---------
---------------------------------------*/

/*------------------------------------
------- FOOTER AREA CSS START --------
--------------------------------------*/
.footer {
    background: url(../img/footer-bg.jpg) no-repeat center center / cover;
    position: relative;
    z-index: 0;
    color: #fff;
	padding-top: 100px;
}
.copyright::before,
.footer::before {
    background: #000;
    z-index: -1;
    opacity: 0.75;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.footer-top {
    background: #ab1414 none repeat scroll 0 0;
    margin-bottom: 30px;
    padding: 25px;
}

/*.footer-top .theme-btn {
    background: #ffffff;
    color: #333333;
}
*/
.footer-top a {
    display: inline-block;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 15px;
}

.footer-top hr {
    background: #fff;
    width: 40px;
    margin: 6px 0 18px;
}
.footer a,.footer h4 {
    color: #fff;
}
.widget-gallery {
    overflow: hidden;
}
.footer h4.widget-title {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.widget-social-icons a {
    width: 35px;
	margin-top: 5px;
    display: inline-block;
    height: 35px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 35px;
    color: #fff;
    margin-right: 6px;
    border-radius: 100%;
}
.widget>a > img {
    margin-bottom: 20px;
}
.widget-social-icons a:hover {
    background: #ad1616;
    color: #fff;
    border: 1px solid #ad1616;
}

.widget-social-icons {
    margin-top: 15px;
}
.widget li i {
    margin-right: 8px;
    color: #ad1616;
    font-size: 18px;
}
.widget li a:hover {
    color: #ad1616;
}

.widget li {
    margin-bottom: 6px;
}

.widget {
    margin-bottom: 30px;
}
.single-widget-gallery a {
    display: inline-block;
}

.single-widget-gallery {
    width: 30.3333%;
    float: left;
	margin-bottom: 3%;
    margin-right: 3%;
}

.widget-get-in-touch li i {
	margin-right: 12px;
}
.widget-get-in-touch li:last-child {
	margin-bottom: 0;
}
.widget-get-in-touch li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.widget-get-in-touch li span {
    display: block;
    font-weight: 500;
	line-height: normal;
}

.copyright {
    text-align: center;
	margin-top: 30px;
	position: relative;
	z-index: 0;
    padding: 20px 0;
	background: #03111e;
	border-top: 1px solid #fff;
}
/*--------------------------------------
--------- FOOTER AREA CSS END ---------
---------------------------------------*/

/*--------------------------------------
-------- SCROLL-TO-TOP CSS START --------
---------------------------------------*/
.scrollToTop {
    width: 40px;
	display: none;
    height: 40px;
    line-height: 39px;
    background: #000;
	display: none;
    color: #fff;
    position: fixed;
    border: 1px solid #fff;
    border-radius: 100%;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    text-align: center;
	font-size: 18px;
}
.scrollToTop:hover {
    background: #d01818;
    border: 1px solid #fff;
    color: #fff;
}
.scrollToTop:focus {
    border: 1px solid #fff;
    color: #fff;
}
/*--------------------------------------
--------- SCROLL-TO-TOP CSS END ---------
---------------------------------------*/

/*--------------------------------------
-------- PRE LOADER CSS START --------
---------------------------------------*/
#preloader {
  position: fixed;
  z-index: 99999999999;
  top: 0;
  left: 0;
  overflow: visible;
  width: 100%;
  height: 100%;
  background: #fff;
  text-align: center;
}
#preloader img {
    max-width: 150px;
}
/*--------------------------------------
--------- PRE LOADER CSS END ---------
---------------------------------------*/

/*--------------------------------------
----- HOME2 PAGE DEFAULT CSS START -----
---------------------------------------*/
.home2 .widget li i, 
.home2 .widget li a:hover, 
.home2 .widget li i, 
.home2 .article-box:hover, 
.home2 .article-box i, 
.home2 .choose-content i, 
.home2 .single-choose .feature-overlay a, 
.home2 .feature-middle a i, 
.home2 .feature-overlay a:hover, 
.home2 .sec-title h2 span, 
.home2 .about-bottom-box ul li .about-icon i, 
.home2 .about-bottom-box h4:hover, 
.home2 .header-bottom li.active > a, 
.home2 .header-bottom li a:hover,
.home2 .header-top-content a:hover,
.home2 .header-top-content li i {
    color: #ffb400;
}
.home2 .article-box:hover p {
	border-color: #ffb400;
}
.home2 .owl-dot.active ,
.home2 .owl-nav div:hover {
	background: #ffb400;
}
.home2 ul.nav.nav-tabs {
    margin-left: 0;
    margin-top: 0;
}
.home2 .nav-tabs li a:hover, 
.home2 .nav-tabs li a.active {
	background: #ffb400;
	border-color: #ffb400;
	color: #fff;
}
.home2 .nav-tabs li a {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.home2 .nav-tabs li {
    width: 33.33%;
    float: left;
}
.home2 .widget-social-icons a:hover {
	background: #ffb400;
    border: 1px solid #ffb400;
}
.home2 .hero-area-content .tab-content {
    padding: 35px 28px 30px;
}
.hero-area-content > h3 {
    font-size: 50px;
    color: #fff;
}

.hero-area-content > h3 + p {
    color: #fff;
    margin: 10px 0 40px;
    font-size: 25px;
    line-height: 40px;
}
.hero-area-content > .theme-btn3 {
    padding: 6px 20px;
    font-size: 14px;
}
/*--------------------------------------
----- HOME2 PAGE DEFAULT CSS END -----
---------------------------------------*/

/*------------------------------------
-------- ABOUT AREA CSS START --------
-------------------------------------*/
.about-bottom2 .about-bottom-box {
    color: #666666;
    text-align: left; 
}

.about-bottom2 .about-bottom-box ul li:first-child {
	padding-top: 0;
}
.about-bottom2 .about-bottom-box ul li {
    padding-top: 30px;
}
.about-bottom2 .about-bottom-box ul li .about-icon i {
    box-shadow: 0 2px 3px #bbb;
    margin: 0 20px 0 0;
	transition: 0.4s;
}
.home2 .about-bottom-box ul li .about-icon i:hover {
	color: #fff;
	background: #ffb400;
}
.about-bottom2 .about-bottom-box h4 {
	color: #333333;
	transition: 0.4s;
}
.popup-youtube i {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    top: 0;
    width: 55px;
    height: 55px;
    line-height: 55px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    transition: all 0.4s;
}
.about-video {
    position: relative;
    padding-left: 35px;
}
.about-video::before {
    position: absolute;
    content: "";
    top: 30px;
    bottom: 30px;
    left: 20px;
    background: #d01818;
    width: 100px;
    z-index: -1;
    transform: skewX(-4deg);
}
.home2 .about-video::before {
    background: #ffb400;
}
.about-area {
	z-index: 0;
    position: relative;
    background-image: url(../img/about-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.about-area::before {
    content: "";
    top: 0;
    left: 0;
    opacity: 0.85;
    right: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
    background: #ffb400;
}
.about-area .sec-title,.about-area .sec-title h2 {
    color: #fff;
}

.about-area .single-about {
    background: #fff;
}

.about-area .single-about i {
    color: #ffb400;
}

.about-area .single-about:hover {
    color: #666;
}

.about-area .single-about:hover h4 {
    color: #ffb400;
}
.about-area .single-about:hover a {
    background: #ffb400;
    color: #fff;
}
/*------------------------------------
--------- ABOUT AREA CSS END ---------
-------------------------------------*/

/*--------------------------------------
-------- FEATURE AREA CSS START --------
---------------------------------------*/
.feature-area .text-center ul.nav.nav-tabs {
    display: inline-block;
    margin: 0 0 10px;
}

.feature-area .text-center ul.nav.nav-tabs li {
    width: auto;
}

.home2 .feature-area .nav.nav-tabs li a {
    padding: 10px 60px;
}
/*--------------------------------------
--------- FEATURE AREA CSS END ---------
---------------------------------------*/

/*--------------------------------------
-------- FUNFACT AREA CSS START --------
---------------------------------------*/
.funfact-area2 {
    z-index: 0;
    position: relative;
    background-image: url(../img/funfact-bg2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.funfact-area2::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #d01818;
    opacity: .75;
    top: 0;
    left: 0%;
}
.home2 .funfact-area2::before {
    background: #ffb400;
}
/*--------------------------------------
--------- FUNFACT AREA CSS END ---------
---------------------------------------*/

/*--------------------------------------
-------- TEAM AREA CSS START --------
---------------------------------------*/
.single-team-member {
    text-align: center;
    transition: all 0.4s;
	margin-top: 30px;
}
.team-member-info h4 {
	font-size: 20px;
	color: #fff;
}
.team-member-info {
    padding: 15px;
	background: #ffb400;
	color: #fff;
}
.team-member-img {
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.team-member-icon {
    position: absolute;
    top: 100%;
	left: 0%;
    height: 100%;
    width: 100%;
    transition: all 0.4s;
}
.team-member-img::before {
    content: "";
    background: #000;
    top: 0;
    right: 0;
    width: 100%;
    height: 0;
    transition: all 0.4s;
    position: absolute;
    opacity: 0.75;
}
.team-member-icon a {
    color: #ffb400;
	width: 30px;
	height: 30px;
	margin: 0 2px;
	display: inline-block;
	line-height: 30px;
	border: 1px solid #ffb400;
	border-radius: 30px;
}
.team-member-icon a:hover {
    color: #fff;
	background: #ffb400;
}
.single-team-member:hover .team-member-img::before {
    height: 100%;
}
.single-team-member:hover .team-member-icon  {
    top: 0;
}
/*--------------------------------------
--------- TEAM AREA CSS END ---------
---------------------------------------*/

/*--------------------------------------
-------- testimonial AREA CSS START --------
---------------------------------------*/
.testimonial-slider2.owl-carousel .owl-item img {
    width: auto;
    margin: auto;
    margin-bottom: 15px;
}

.testimonial-slider2 .single-testimonial-box {
    max-width: 670px;
    margin: auto;
    border: none;
    padding: 0;
}
/*--------------------------------------
--------- testimonial AREA CSS END ---------
---------------------------------------*/

/*--------------------------------------
-------- choose AREA CSS START --------
---------------------------------------*/
.choose-area .choose-menu button {
    width: 100%;
    text-align: left;
    padding: 12px 25px;
    border: 1px solid #d01818;
}
.choose-area .choose-menu button.active {
    background: #d01818;
}
.home2 .choose-area .choose-menu button {
    border: 1px solid #ffb400;
}
.home2 .choose-area .choose-menu button.active {
    background: #ffb400;
}

.choose-area .choose-menu {
    margin-top: 30px;
}

.choose-area .choose-content h4 {
    margin-bottom: 13px;
}

.choose-area .choose-content h4 span {
    float: none;
    margin-top: 5px;
    display: block;
}

.choose-area .choose-content a {
    padding: 0 2px;
    font-size: 13px;
}

.choose-area .choose-content {
    text-align: center;
    padding: 15px 2px;
}
/*--------------------------------------
--------- choose AREA CSS END ---------
---------------------------------------*/

/*--------------------------------------
-------- sell AREA CSS START --------
---------------------------------------*/
.sell-area .container {
	background: #ffb400;
	position: relative;
	z-index: 2;
	overflow: hidden;
}
.sell-area .container::before {
	position: absolute;
	z-index: -1;
	background: #1b1b1b;
	top: 0;
	content: "";
	left: -30%;
	transform: skewX(-18deg);
	height: 100%;
	width: 80%;
}
.sell-box {
    color: #fff;
    padding: 46px 0 46px 15px;
}

.sell-box h4 {
    color: #fff;
}

.sell-box hr {
    width: 55px;
    margin-left: 0;
    background: #fff;
    height: 1px;
}
.home2 .article-area {
    margin-top: -100px;
    padding-top: 200px;
}
/*--------------------------------------
--------- sell AREA CSS END ---------
---------------------------------------*/

/*--------------------------------------
-------- ABOUT 1 PAGE CSS START --------
---------------------------------------*/
.breadcrumb-area {
    color: #fff;
    padding-top: 80px;
    text-align: center;
    z-index: 1;
    position: relative;
    background-image: url(../img/hero-area.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 220px 0px 100px;
    background-repeat: no-repeat;
    background-position: center center;
}
.breadcrumb-area h2 {
	color: #fff;
	margin-bottom: 5px;
}
.breadcrumb-area li a {
	color: #fff;
}
.breadcrumb-area li::before {
    content: "/";
    margin: 0 8px 0 5px;
}
.breadcrumb-area li:first-child::before {
	display:none;
}
.breadcrumb-area li {
    display: inline-block;
}
.breadcrumb-area li a:hover,
.breadcrumb-area li.active a {
    color: #d01818;
}
/*--------------------------------------
--------- ABOUT 1 PAGE CSS END ---------
---------------------------------------*/

/*--------------------------------------
-------- BLOG PAGE CSS START --------
---------------------------------------*/
.post-author a i {
    margin-right: 5px;
    color: #d01818;
}

.post-author a {
    margin-right: 10px;
}

.post-author {
    margin: 10px 0;
}

.post-details p {
    margin-bottom: 15px;
}

.single-post {
    border: 1px solid #ddd;
    margin-top: 30px;
}
.pagination {
    text-align: center;
    margin-top: 50px;
    display: block;
}
.pagination li {
    display: inline-block;
}
.pagination li a {
    background-color: #d01818;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 18px;
}
.pagination li.active a, .pagination li a:hover {
    background-color: #000;
}

/*--------------------------------------
-------- 404 PAGE CSS START --------
---------------------------------------*/
.contact-us-area .theme-btn:hover ,
.contact-us-area .theme-btn ,
.single-post .theme-btn:hover ,
.single-post .theme-btn ,
.four04 .theme-btn:hover ,
.four04 .theme-btn {
	border: 1px solid #d01818;
}
.four04 {
    text-align: center;
}
.four04 h1 {
    font-size: 200px;
    font-weight: 600;
}
.four04 input {
    padding-right: 35px;
    margin: 0;
}
.four04 button {
    position: absolute;
    top: 0;
    bottom: 0;
    cursor: pointer;
    margin: auto;
    background: none;
    border: none;
    right: 10px;
}
.four04 form {
    margin: 25px auto 15px;
    max-width: 400px;
    position: relative;
}
.four04 h4 {
    margin-top: 8px;
}
/*--------------------------------------
--------- 404 PAGE CSS END ---------
---------------------------------------*/

/*--------------------------------------
------ BLOG DETAILS PAGE CSS START -----
---------------------------------------*/
.blog-details h4.post-title {
    margin: 20px 0 2px;
}
.blog-details .post-author {
    margin: 15px 0;
}
.blog-details > p {
    margin-bottom: 15px;
}
.blog-detail-middle {
    display: flex;
}
.blog-detail-middle img {
    padding-right: 20px;
    max-width: 40%;
}
.blog-detail-middle {
    margin-bottom: 20px;
}
.blog-detail-middle p {
    margin: 20px 0;
}
.about-author {
    padding-top: 25px;
}
.about-author h2 {
    margin-bottom: 20px;
}
.about-author-details {
    display: flex;
	padding: 20px;
	background: #fafafa;
}
.author-details-left {
    flex: 1;
    margin-right: 15px;
}
.author-details-right {
    flex: 4.2;
}
.author-details-right h4 {
    margin-bottom: 5px;
}
.comments-area {
    margin-top: 40px;
}
.comments-area h4 {
    margin-bottom: 20px;
    font-size: 20px;
}
.single-comment a {
    color: #000;
    margin-right: 20px;
    display: inline-block;
}
.single-comment-left {
    flex: 1;
}
.single-comment-right {
    flex: 5.5;
    margin-left: 12px;
}
.single-comment {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    padding-bottom: 20px;
}
.comments-area li {
    position: relative;
}
.single-comment p {
    margin-bottom: 5px;
}
.comments-area li ul {
    margin-left: 115px;
}
.single-comment::before {
    content: "";
    right: 0;
    left: 115px;
    background: #aaa;
    top: 100%;
    height: 1px;
    margin: auto;
    position: absolute;
}
.comments-area li ul .single-comment::before {
    left: 0;
}
.blog-reply {
	margin-top: 40px;
}
.contact-us-area form input,
.blog-reply form input {
	margin-bottom: 25px;
	padding: 9px 20px;
}
.contact-us-area form textarea,
.blog-reply form textarea {
	margin-bottom: 15px;
	height: 120px;
}
.blog-reply form {
	margin-top: 25px;
}
.contact-us-area form button,
.blog-reply form button {
	border: none;
	cursor: pointer;
}
.sidebar {
	padding-left: 20px;
}
.sidebar-widget {
    margin-bottom: 40px;
}
.sidebar-widget h4 {
    margin-bottom: 15px;
    font-size: 20px;
}
.sidebar-widget form button {
    background: none;
	cursor: pointer;
    border: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    margin: auto;
}
.sidebar-widget form {
    position: relative;
    border-radius: 9px;
}
.sidebar-widget form input {
    margin-bottom: 0;
    border-radius: 5px;
    padding-right: 35px;
}
.blog-reply form textarea::-webkit-input-placeholder ,
.blog-reply form input::-webkit-input-placeholder ,
.sidebar-widget form input::-webkit-input-placeholder {
    color: #333;
}
.sidebar-widget ul li a {
    background: #fafafa;
    display: block;
    padding: 8px 18px;
    border-radius: 5px;
}
.sidebar-widget ul li {
    padding: 5px 0;
}
.sidebar-widget ul li a:hover {
    background: #d01818;
    color: #fff;
}
.sidebar-widget ul li a span {
    float: right;
}
.widget-post-info i {
    color: #d01818;
    margin-right: 5px;
}
.widget-post {
    display: flex;
    padding: 8px 0;
}
.widget-post-img {
    flex: 1;
}
.widget-post-info {
    flex: 3.2;
    margin-left: 15px;
}
.widget-post-info span {
    font-size: 12px;
}
.widget-post-info p {
    margin-bottom: 5px;
}
.widget-tags a {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 5px 15px;
    margin-bottom: 8px;
    margin-right: 5px;
	border-radius: 5px;
}
.widget-tags a:hover {
    color: #fff;
    background: #000;
}
.sidebar-widget.widget-quote {
    margin-bottom: 0;
    background: #000;
    padding: 35px;
    color: #fff;
}
.sidebar-widget.widget-quote h4 {
    color: #fff;
}
.sidebar-widget.widget-quote p {
    margin-bottom: 15px;
}
.sidebar-widget.widget-quote h4 i {
    margin-right: 6px;
}
/*--------------------------------------
------- BLOG DETAILS PAGE CSS END ------
---------------------------------------*/

/*--------------------------------------
----- CAR LISTING PAGE CSS START -------
---------------------------------------*/
.single-post.listing-post {
    background: #fff;
    padding: 20px;
    font-size: 12px;
}

.single-post.listing-post:first-child {
    margin-top: 0;
}
.list-area {
	background: #f1f1f1
}

.single-post.listing-post p {
	margin-bottom: 20px;
    margin-top: 20px;
}
.single-post.listing-post h4.post-title {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 12px;
}

.single-post.listing-post h4.post-title::before {
    content: "";
    bottom: 0;
    left: 8px;
    background: #aaa;
    width: 50px;
    height: 1px;
    position: absolute;
}

.single-post.listing-post h4.post-title::after {
    content: "";
    bottom: -3px;
    left: 0;
    background: #aaa;
    width: 50px;
    height: 1px;
    position: absolute;
}
.search_title {
	padding: 12px;
    text-align: center;
    text-transform: uppercase;
    border-bottom-color: #d01818;
    color: white;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-radius: 2px 2px 0 0;
    background-color: #222;
}
.list-sidebar {
    background: #fff;
    overflow: hidden;
    padding: 0 20px 40px;
}

.list-sidebar input,.list-sidebar select {
    margin: 10px 0 0;
    border: 1px solid #ccc;
}

.list-sidebar h5 {
    margin-top: 38px;
}

/*--------------------------------------
--------- SERVICE AREA CSS END ---------
---------------------------------------*/