// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

// Variables
@import 'variables';

// Main style CSS
@import './sb-admin-2';
// Custom
@import './custom';
// Responsive CSS
@import './multi-select';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
